In [4]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import math
from glob import glob
import SHQ_functions as shq

In [5]:
#path like: r'/Users/.../S_01/'
path_id = r''

In [6]:
shq.get_path_int_values(path_id = path_id)

In [7]:
shq.get_flare_values(path_id = path_id)

In [8]:
shq.get_radial_values(path_id = path_id)

In [9]:
shq.get_level_43(path_id = path_id)

In [10]:
## view output
path = pd.DataFrame(np.load(path_id + 'path_levels.npy',allow_pickle=True),columns = ['level','complete','duration','map_view','distance','x','y','r'])
flare = pd.DataFrame(np.load(path_id + 'flare_levels.npy',allow_pickle=True),columns = ['level','complete','duration','flare_accuracy'])
radial = pd.DataFrame(np.load(path_id + 'radial_levels.npy',allow_pickle=True),columns = ['level','complete','duration','distance','radial_tech','probe_error','wm_error','x','y','r'])
repeat = pd.DataFrame(np.load(path_id + 'repeat_43.npy',allow_pickle=True),columns = ['level','complete','duration','map_view','distance','x','y','r'])

In [16]:
path.head()

,level,complete,duration,map_view,distance,x,y,r
0,1,False,15.9078,3.17197,158.962,"[55, 55, 55, 60, 60, 60, 65, 65, 70, 75, 80, 8...","[60, 60, 60, 60, 65, 65, 65, 70, 75, 75, 80, 8...","[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 5, 10..."
1,2,False,31.1979,2.0249,380.219,"[125, 125, 125, 125, 125, 125, 125, 125, 130, ...","[50, 50, 50, 50, 50, 55, 60, 60, 65, 70, 75, 8...","[0, 0, 0, 0, 0, 0, 0, 10, 5, 0, 0, 80, 80, 0, ..."
2,3,False,24.1454,6.46217,297.47,"[125, 125, 125, 125, 125, 125, 130, 130, 130, ...","[45, 45, 45, 45, 50, 50, 55, 60, 60, 65, 70, 7...","[0, 0, 0, 0, 0, 5, 5, 5, 0, 0, 5, 5, 0, 0, 0, ..."
3,6,False,26.9945,3.20413,298.973,"[140, 140, 140, 140, 140, 140, 140, 145, 145, ...","[45, 45, 45, 45, 50, 50, 55, 60, 60, 65, 75, 7...","[0, 0, 0, 0, 5, 5, 5, 5, 5, 5, 5, 10, 5, 5, 5,..."
4,7,False,37.2383,6.61502,455.394,"[165, 165, 165, 165, 165, 165, 165, 160, 160, ...","[50, 50, 50, 50, 55, 55, 60, 65, 70, 75, 80, 8...","[0, 0, 0, 0, 75, 75, 75, 75, 75, 75, 75, 75, 7..."

In [17]:
flare.head()

  level complete duration flare_accuracy
0     4    False  16.6305              3
1     9    False  16.3151              2
2    14    False  17.1234              3
3    19    False  17.1828              3
4    24    False  22.6061              3

In [18]:
radial.head()

,level,complete,duration,distance,radial_tech,probe_error,wm_error,x,y,r
0,1,False,911.995,862.736,1,2.5,0,"[160, 160, 160, 160, 160, 160, 160, 160, 160, ...","[155, 155, 155, 155, 155, 155, 155, 155, 155, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,2,False,668.907,720.266,2,1,0,"[160, 160, 160, 160, 160, 160, 160, 160, 160, ...","[155, 155, 155, 155, 155, 155, 155, 155, 155, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,3,False,796.741,583.397,2,0,0,"[160, 160, 160, 160, 160, 160, 160, 160, 160, ...","[155, 155, 155, 155, 155, 155, 155, 155, 155, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,4,False,2713.67,566.451,2,0.5,0,"[160, 160, 160, 160, 160, 160, 160, 160, 160, ...","[155, 155, 155, 155, 155, 155, 155, 155, 155, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,5,False,3006.86,662.964,2,0,1,"[160, 160, 160, 160, 160, 160, 160, 160, 160, ...","[155, 155, 155, 155, 155, 155, 155, 155, 155, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [19]:
repeat

,level,complete,duration,map_view,distance,x,y,r
0,43,False,210.896,114.086,2987.93,"[45, 45, 45, 45, 45, 50, 50, 50, 45, 45, 45, 5...","[110, 110, 110, 110, 115, 125, 140, 145, 155, ...","[0, 0, 0, 0, 0, 0, 0, 75, 75, 0, 5, 5, 10, 10,..."
1,43,False,201.015,71.6075,2930.39,"[45, 45, 45, 45, 50, 50, 50, 50, 50, 50, 50, 5...","[110, 110, 110, 110, 120, 130, 145, 160, 165, ...","[0, 0, 0, 0, 0, 80, 80, 80, 0, 0, 5, 5, 0, 80,..."
2,43,False,188.413,46.5363,2621.48,"[45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 4...","[110, 110, 110, 110, 110, 115, 120, 120, 125, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 15, 2..."